*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
  height: 400px;
}
.control{
  /* margin-top: 300px; */
  margin: 100px auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  list-style: none;
}
.arrow{
  width: 20px;
  height: 20px;
  background-color: rgb(134, 149, 233);
  border-radius: 50%;
  padding: 12px;
}
.next{
  margin-left: 20px;
  margin-right: 10px;
}
.prev{
  margin-left: 10px;
  margin-right: 20px;
}